<div class="container text-center">
  <div class="display-6 my-2">
    Cadastro de Clientes:
  </div>
 <div class="border rounded shadow-sm p-4">
  <form [formGroup]="clienteForm" #ngClienteForm="ngForm">
    <div class="row">
        <div class="col-8 m-auto">
            <div class="mb-3">
                <label for="nome" class="form-label">Nome: </label>
                <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome">
                <div *ngIf=ngClienteForm.submitted class="text-start">
                  <small *ngIf="cNome?.errors?.['required']" class="form-text text-danger"><sup>*</sup>Nome obrigatório!</small>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="mb-3">
                        <label for="telefone" class="form-label">Telefone: </label>
                        <input type="text" class="form-control" id="telefone" placeholder="Telefone" formControlName="telefone">
                    </div>
                    <div *ngIf=ngClienteForm.submitted class="text-start">
                      <small *ngIf="cTelefone?.errors?.['required']" class="form-text text-danger"><sup>*</sup>Telefone obrigatório!</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3">
                        <label for="dataNascimento" class="form-label">Data de Nascimento:</label>
                        <input type="date" class="form-control" id="dataNascimento" placeholder="Data de nascimento" formControlName="dataNascimento">
                    </div>
                    <div *ngIf=ngClienteForm.submitted class="text-start">
                      <small *ngIf="cdataNascimento?.errors?.['required']" class="form-text text-danger"><sup>*</sup>Data de nascimento obrigatória!</small>
                    </div>
                </div>
                <!-- <div class="mb-3">
                  <label for="comments" class="form-label">Comentários: </label>
                  <input type="text" class="form-control" id="comments" placeholder="Comentários">
               </div> -->
            </div>
            <div class="mb-3 text-end">
                <button class="btn btn-secondary me-1" (click)="cancela()">Cancelar</button>
                <button class="btn btn-primary" [disabled]="!clienteForm.dirty" (click)="salvar()">Salvar</button>
            </div>
        </div>
    </div>
</form>
 </div>
