<ng-template #modal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{titulo}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.close(false)"></button>
	</div>
	<div class="modal-body">
    <ng-content></ng-content>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="modal.close(false)">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="modal.close(true)">Confirmar</button>
	</div>
</ng-template>
