<div class="container text-center">
  <div class="row">
    <div class="display-6 my-2">Fazer um agendamento:</div>
    <div class="col-6 border rounded shadow-sm p-4">
      <app-formulario-criar-agendamento
        [areas]="areas"
        [tiposCompromissos]="tiposCompromissos"
        [profissionais]="profissionaisPorArea"
        [buscaClientes]="buscaClientes"

        (selecionadoAreaEvent)="onSelectedArea($event)"
        (selecionadoProfissionalEvent)="onProfissionalSelecionado($event)"
      ></app-formulario-criar-agendamento>
    </div>
    <div class="col-6 border rounded shadow-sm p-4">
      <app-calendario
        [calendarioMes]="calendarioMes"
        [diasDisponiveis]="diasDisponiveis"
        (mudouMesEvent)="noMesAlterado($event)"
        (dataSelecionadaEvent)="naDataSelecionada($event)">
      </app-calendario>
      <app-tempo
        [tempos]="temposDisponiveis"
        (tempoSelecionadoEvent)="onTempoSelecionado($event)"
        >
      </app-tempo>
      <div id="time"></div>
    </div>
    <div class="d-grid gap-2 mt-2 px-5">
      <button type="button" class="btn btn-primary shadow-sm" type="button" data-bs-toggle="modal" data-bs-target="#confirmModal" (click)="criarAgendamento()">Agendar</button>
  </div>
</div>
