<form [formGroup]="Agendamentoform" #ngAgendamentoform="ngForm">
  <div class="mb-3">
      Escolha uma área:
      <select class="form-select" aria-label="Selecione uma área" formControlName="area" (change)="OnAreaChanged()">
          <option *ngFor="let area of areas" [ngValue]="area">{{area.nome}}</option>
      </select>
      <div *ngIf="submitted" class="text-start">
        <small *ngIf="afArea?.errors?.['required']" class="form-text text-danger"><sup>*</sup>Selecione a área do profissional!</small>
      </div>
  </div>

  <div class="mb-3">
      Escolha uma área para escolher um profissional:
      <select class="form-select" aria-label="Selecione um Profissional" formControlName="profissional">
        <option *ngFor="let profissional of profissionais" [ngValue]="profissional">{{profissional.nome}}</option>
      </select>
      <div *ngIf="submitted" class="text-start">
        <small *ngIf="afProfissional?.errors?.['required']" class="form-text text-danger"><sup>*</sup>Selecione o profissional!</small>
      </div>
  </div>

  <div class="mb-3">
      Tipo de Atendimento:
      <select class="form-select" aria-label="Selecione um tipo de atendimento" formControlName="tiposCompromissos">
        <option *ngFor="let tipoCompromisso of tiposCompromissos" [ngValue]="tipoCompromisso">{{tipoCompromisso.tipo}}</option>
    </select>
    <div *ngIf="submitted" class="text-start">
      <small *ngIf="aftiposCompromissos?.errors?.['required']" class="form-text text-danger"><sup>*</sup>Selecione o tipo do agendamento!</small>
    </div>
  </div>

  <div class="mb-3">
    Crie ou digite o nome do cliente:
    <div class="input-group">
      <input id="typeahead-basic" type="text" class="form-control" formControlName="cliente" [ngbTypeahead]="buscaClientes"
        [resultFormatter]="formatador" [inputFormatter]="formatador" />
    </div>
    <div *ngIf="getClienteSelecionado().telefone" class="text-start">
        <small>Confirme o telefone do cliente: {{getClienteSelecionado().telefone}}</small>
    </div>
    <div *ngIf="submitted" class="text-start">
      <small *ngIf="afCliente?.errors?.['required']" class="form-text text-danger"><sup>*</sup>Selecione o cliente!</small>
    </div>
  </div>

  <div class="mb-3">
      Comentários:
      <textarea class="form-control" id="comentarios" formControlName="comentarios"></textarea>
  </div>

</form>
